#me{
	height: 250px;
	width: 375px;
}

#media{
	display: block;
}

#navigation ul li{
	list-style-type: none;
	display: inline;
}

#projectsheader{
	text-decoration: underline;
}

a{
	text-decoration: none;
	color: #000000;
}

.gudea{
	font-family:'Gudea', sans-serif;
}

.rancho{
	font-family: 'Rancho', cursive;
}

.projectname{
	text-decoration: underline;
}

.projectmedia{
	height: 16px;
	width: 16px;
}

.socialmedia{
	height: 32px;
	width: 32px;
}
